@import url("reset.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Roboto', sans-serif;
}

body {
    padding: 5%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font);
}

.swipe-box {
    border: 1px solid #0101;
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 75px;
    align-items: center;
    font-size: 2em;
    color: white;
    overflow-x: hidden;
    background-color: cornflowerblue;
    margin-bottom: 10px;
}

.swipe-box > * {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.del-btn {
    grid-area: 1/2/2/3;
    justify-self: end;
    background-color: crimson;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
}

.swipe-text {
    grid-area: 1/1/2/3;
    background-color: cornflowerblue;
    padding: 10px;
}

#reset {
    border: 1px solid #0101;
    padding: 10px;
    background-color:darkorange;
    color: white;
    font-weight: 700;
}